header {
    border-bottom: 1px solid #008AFF;
    padding: 30px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav h1 {
    text-align: center;
    font-size: 2rem;
    color: #008AFF;
    -webkit-user-select: none;
    user-select: none;
}

/*Responsividade*/
@media (max-width: 920px) {
    header nav img {
        height: 30px;
        -webkit-user-select: none;
        user-select: none;
    }
}

/*Responsividade*/
@media (max-width: 320px) {
    header nav img {
        height: 18px;
        -webkit-user-select: none;
        user-select: none;
    }
}